<ion-header>
  <ion-toolbar>
    <ion-title>
      cordova与flutter混合开发演示
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (click)="openFlutter()">
    <ion-card-header>
      <ion-card-title>打开flutter页面</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      cordova与flutter混合开发，在flutter可以调用cordova的方法
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>关于cordova-plugin-flutter</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      关于cordova-plugin-flutter的介绍以及解决了混合开发跨平台的哪些痛点
    </ion-card-content>
  </ion-card>

</ion-content>